h1 {
    color: white;
    text-align: center;
  }
  
  h2 {
    font-style: normal;
    color: white;
    text-align: center;
  }
  
  p {
    font-family: sans-serif;
    color: white;
    font-size: 17px;
  }
  
  ul {
    font-size: 17px;
    line-height: 30px;
  }

  .center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }
  
  .box1 {
    width: 50%;
    border: solid white;
    border-width: 10px;
    background-color: orange;
    margin-bottom: 10px;
  }
  
  .box2 {
    width: 50%;
    padding: 20px;
    border: solid white;
    border-width: 10px;
    background-color: orange;
    margin-bottom: 10px;
  }
  
  * {
	  background-color: black;
	  }